html, body {
    margin: 0;
}

a {
    /*#EE565E*/
    text-decoration: none;
    color: #222;
    border-bottom: 1px solid #222;
}

a:hover {
    color: #EE565E;
    border-bottom: 1px solid #EE565E;
}

.header-profile {
    background: #6FB0C8;
    color: #264243;
    height: 80px;
}

.header-profile img {
    border-radius: 25px;
}

.in-row {
    display: inline-block;
}